apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
  DJANGO_SETTINGS_MODULE: {{ .Values.env.DJANGO_SETTINGS_MODULE }}
  DATABASE_HOST: {{ .Values.database.host }}
  DATABASE_PORT: "{{ .Values.database.port }}"
  DATABASE_NAME: {{ .Values.database.name }}
  REDIS_URL: "redis://{{ .Values.redis.host }}:{{ .Values.redis.port }}/0"
  CELERY_BROKER_URL: "redis://{{ .Values.redis.host }}:{{ .Values.redis.port }}/1"
