apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
type: Opaque
data:
  DJANGO_SECRET_KEY: {{ "change-me-in-production" | b64enc }}
  DATABASE_PASSWORD: {{ "change-me" | b64enc }}
  STRIPE_API_KEY: {{ "sk_test_changeme" | b64enc }}
  STRIPE_WEBHOOK_SECRET: {{ "whsec_changeme" | b64enc }}
